/* Style the navigation menu based on
   https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */

.topnav {
  overflow: hidden;
  background-color: var(--background-color);
  position: fixed;
  right: 0;
  top: 0;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #topnav {
  display: none;
  columns: 2;
  column-gap: 0;
}

/* Style navigation menu links */
.topnav a {
  color: var(--text-color);
  padding: 20px 20px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: var(--background-color);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px 35px;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #ed7009;
  color: white;
}

/* based on https://habr.com/en/sandbox/163605/ */
@media (pointer: coarse) {
  /* mobile device */
  @media screen and (orientation: portrait) {
    .topnav a {
      font-size: 55px;
    }
  }
  @media screen and (orientation: landscape) {
    .topnav a {
      font-size: 25px;
    }
  }
}
